<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/05/18 09:56:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;JenkinsDashboard.Initializtion()[pri:0, instance:TestCases.JenkinsDashboard@4386f16]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@365181913</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/05/18 09:56:37</td>   <td>3810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JenkinsDashboard.JenkinsLogin()[pri:0, instance:TestCases.JenkinsDashboard@4386f16]">JenkinsLogin</td> 
  <td>main@365181913</td>   <td></td> </tr>
</table>
